@font-face {
	font-family: Mabry Pro;
	src: url('fonts/MabryPro_Medium/MabryPro_Medium.eot');
	src: local('MabryPro_Medium'), local('fonts/MabryPro_Medium/MabryPro_Medium'),
		url('fonts/MabryPro_Medium/MabryPro_Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/MabryPro_Medium/MabryPro_Medium.woff') format('woff'),
		url('fonts/MabryPro_Medium/MabryPro_Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Mabry Pro;
	src: url('fonts/MabryPro_Regular/MabryPro_Regular.eot');
	src: local('MabryPro_Regular'), local('fonts/MabryPro_Regular/MabryPro_Regular'),
		url('fonts/MabryPro_Regular/MabryPro_Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/MabryPro_Regular/MabryPro_Regular.woff') format('woff'),
		url('fonts/MabryPro_Regular/MabryPro_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


.wrapper-colored {
	background-color: #000000;
}
.form {
	* {
		box-sizing: border-box;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		row-gap: 40px;
	}
	&__item {
		flex: 0 1 33.333%;
		padding: 0 15px;
		@media (max-width: 1200px){
			flex: 1 1 50%;
		}
		@media (max-width: 900px){
			flex: 1 1 100%;
		}
		&--button {
			flex: 1 1 100%;
			position: relative;
		}
	}
	&__lebel {
		color: #FFF;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -0.64px;
		margin-bottom: 16px;
		display: block;
		font-family: Mabry Pro;
	}
	&__input {
		border-radius: 12px;
		background: #2B2B2B;
		width: 100%;
		display: block;
		min-height: 80px;
		outline: none;
		border: none;
		color: #FFF;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -0.64px;
		margin-bottom: 16px;
		display: block;
		padding: 0 15px;
		font-family: Mabry Pro;
	}
	&__button {
		cursor: pointer;
		padding: 40px;
		border-radius: 24px;
		border: 4px solid #FF522D;
		background: #FF522D;
		color: #FFF;
		font-size: 40px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px; /* 100% */
		letter-spacing: -0.8px;
		width: 100%;
		text-align: center;
		font-family: Mabry Pro;
	}
}


.thankyou-popup {
	position: fixed;
	top: -110%;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease 0s;
	opacity: 0;
	&.js-active {
		top: 0;
		opacity: 1;
	}
	&__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 0.5;
	}
	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 800px;
		max-width: 100%;
		min-height: 400px;
		transform: translate(-50%, -50%);
		background-color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 24px;
	}
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 50px;
		height: 50px;
		span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 2px;
			background-color: #FF522D;
			&:first-child{
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&:last-child{
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
	&__title {
		text-align: center;
		color: #FF522D;
		font-family: Mabry Pro;
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: 56px; /* 100% */
	}
}

.error-block {
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-family: Mabry Pro;
	color: red;
	position: absolute;
	bottom: calc(100% - 5px);
	left: 0;
}
